@import url("reset.css");

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.header {
	background-color: #b0b0d3;
	padding: 15px;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.header__title {
	font-size: 80px;
	color: #3c91db;
	font-weight: 600;
}

.barbie {
	height: 800px;
	width: 100%;
	background-color: #da8ce6;
	background: url(../img/background.webp) 0 0 / cover no-repeat;
	padding-top: 10px;
}
.page {
	position: relative;
	max-width: 100%;
}

.car {
	position: relative;
	width: 1200px;
	transform: translate(450px, 200px);
	z-index: 3;
}

.car__item-1 {
	position: absolute;
	left: 50%;
	width: 180px;
	height: 120px;
	background-color: aquamarine;
	border: 10px solid black;
	border-radius: 55px 198px 61px 47px;
	z-index: 2;
	transform: translate(-20px, 100px);
}

.car__item-1:hover,
.car__item-2:hover {
	background-color: rgb(0, 191, 255);
}

.car__item-2 {
	position: absolute;
	width: 200px;
	height: 120px;
	background-color: aquamarine;
	border: 10px solid black;
	border-radius: 192px 63px 97px 97px;
	transform: translate(350px, 100px);
	z-index: 4;
}

.car__item-3 {
	position: absolute;
	background-color: rgb(134, 131, 131);
	top: 0;
	left: 50%;
	height: 150px;
	width: 150px;
	border-radius: 200px 200px 200px 200px;
	border: 20px dashed #171717;
	z-index: 4;
	transform: translate(30px, 280px);
}

.car__item-3:hover,
.car__item-4:hover {
	width: 155px;
	height: 155px;
}

.car__item-4 {
	position: absolute;
	background-color: rgb(134, 131, 131);
	height: 150px;
	width: 150px;
	border-radius: 200px 200px 200px 200px;
	border: 20px dashed #171717;
	transform: translate(340px, 280px);
	z-index: 4;
}

.car__item-5 {
	position: absolute;
	transform: translate(250px, 60px);
	background-color: #ff0095;
	width: 330px;
	height: 300px;
	border-radius: 200px 74px 74px 74px;
	z-index: 1;
}

.car__item-6 {
	position: absolute;
	background-color: #ff0095;
	width: 330px;
	height: 300px;
	border-radius: 37px 200px 51px 0px;
	transform: translate(485px, 60px);
}

.car__item-7 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #e2e28e;
	width: 50px;
	height: 50px;
	border-radius: 78px 200px 108px 108px;
	transform: translate(-310px, 230px);
	border: 2px solid gray;
	z-index: 3;
}

.car:hover .car__item-7 {
	background-color: rgb(255, 255, 0);
}

.car__item-8 {
	position: absolute;
	background-color: #950d0d;
	width: 25px;
	height: 60px;
	border-radius: 30%;
	transform: translate(250px, 250px);
	z-index: 3;
	border: 2px solid grey;
}

.car:hover .car__item-8 {
	background-color: #ff0000;
}

.car__item-9 {
	position: absolute;
	background-color: #ff0095;
	width: 85px;
	height: 70px;
	border: 2px solid rgb(128, 123, 123);
	border-radius: 81px 81px 81px 81px;
	transform: translate(290px, 230px);
	z-index: 2;
}

.car__item-10 {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ff0095;
	width: 50px;
	height: 20px;
	border: 2px solid rgb(128, 123, 123);
	border-radius: 200px 0px 41px 105px;
	transform: translate(-150px, 240px);
	z-index: 2;
}

.car__item-11 {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ff0095;
	width: 150px;
	height: 150px;
	border-radius: 119px 200px 52px 38px;
	transform: translate(140px, 210px);
}

.car__item-12 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3f3c3c;
	width: 120px;
	height: 40px;
	border-radius: 116px 116px 116px 116px;
	transform: translate(220px, 320px);
}

.car__item-13 {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ff0095;
	width: 50px;
	height: 20px;
	border: 2px solid rgb(128, 123, 123);
	border-radius: 200px 0px 41px 105px;
	transform: translate(50px, 240px);
	z-index: 2;
}

.car__item-14 {
	position: absolute;
	background-color: #ec6d3f;
	top: 0;
	left: 50%;
	width: 25px;
	height: 40px;
	border-radius: 92px 92px 92px 92px;
	transform: translate(265px, 310px);
	border: 2px solid grey;
	z-index: 3;
}

.car:hover .car__item-14 {
	background-color: #ec4002;
}

.car__item-15 img {
	width: 100px;
	position: absolute;
	left: 50%;
	transform: translate(-85px, 240px);
	z-index: 2;
}

.barbie__doll {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-250px, 50px);
	z-index: 5;
}
.barbie__doll img {
	width: 350px;
}

.barbie__doll img:hover {
	transform: rotate(5deg);
}

.barbie__ken {
	position: absolute;
	transform: translate(400px, 60px);
	z-index: 5;
}

.barbie__ken img:hover {
	transform: rotate(-5deg);
}

.barbie__ken img {
	width: 250px;
}

.ken__hi-birbie {
	position: absolute;
	color: #faebd7;
	padding: 25px 5px;
	font-size: 18px;
	background-color: #3c91db;
	border-radius: 200px 200px 200px 0px;
	width: 100px;
	height: 70px;
	border: 2px dotted grey;
	transform: translate(180px, -600px);
	z-index: 5;
	visibility: hidden;
}
.barbie__ken:hover .ken__hi-birbie {
	visibility: visible;
}

.doll__hi-ken {
	position: absolute;
	top: 0;
	right: 0;
	color: #faebd7;
	padding: 25px 10px;
	font-size: 18px;
	width: 100px;
	height: 70px;
	background-color: #e266f5;
	border-radius: 200px 200px 0px 200px;
	border: 2px dotted grey;
	transform: translate(-250px, 10px);
	visibility: hidden;
}

.barbie__doll:hover .doll__hi-ken {
	visibility: visible;
}

.barbie__road {
	position: relative;
	background: #666666;
	width: 100%;
	height: 270px;
	border-top: 3px solid black;
	border-bottom: 8px solid black;
	transform: translateY(520px);
}

.barbie__white-line {
	position: absolute;
	width: 100%;
	height: 10px;
	top: 30%;
	background-color: #666666;
	border: 15px dashed #f2e7e7;
	transform: skew(-50deg, 0deg);
	z-index: 2;
}

.practice {
	background-color: #57e3b2;
	padding: 100px 90px;
	text-align: center;
}

.practice__title {
	font-size: 70px;
	color: #2372b7;
	font-weight: 600;
	margin-bottom: 50px;
}

.box {
	width: 300px;
	height: 300px;
	background-color: #90bae0;
	display: inline-block;
	padding: 25px;
	vertical-align: top;
}

.practice__box:not(:last-child) {
	margin-right: 40px;
	margin-bottom: 40px;
}

.item {
	width: 250px;
	height: 250px;
	background-color: #3c91db;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	padding: 50px 10px;
}

.practice__box:hover .box__item-1 {
	transform: translate(10px, 20px);
	cursor: pointer;
}

.practice__box:hover .box__item-2 {
	transform: scale(0.5);
	cursor: pointer;
}

.practice__box:hover .box__item-3 {
	transform: rotate(10deg);
	cursor: pointer;
}

.practice__box:hover .box__item-4 {
	transform: skew(-10deg, 0deg);
	cursor: pointer;
}
.practice__box:hover .box__item-5 {
	transform-origin: 0 0;
	transform: rotate(20deg);
}

.practice__box:hover .box__item-6 {
	transform: translate(10%, 10%) scale(0.9) rotate(10deg) skew(-20deg, -10deg);
}

.practice__box:hover .box__item-7 {
	transform: translate(-10%, -10%);
}

.practice__box:hover .box__item-8 {
	transform: rotate(-20deg);
}

.practice__box:hover .box__item-9 {
	transform: scale(1.1);
}

.practice__box:hover .box__item-10 {
	transform: skew(20deg, 20deg);
}

.footer {
	padding: 15px 0;
	text-align: center;
	background-color: #9d9898;
}

.footer__link {
	font-size: 50px;
	color: #2372b7;
	font-weight: 600;
}

.footer__link:hover {
	text-decoration: underline;
	color: #477cab;
}
