@import url("fonts.css");

@import url("reset.css");

body {
	background-color: #a3f6e6;
	font-size: 20px;
	line-height: 1.5;
}

.header {
	background-color: #9a9a9a;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.menu {
	width: 600px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.menu__item {
	display: inline-block;
	position: relative;
}

.menu .menu__item:not(:last-child) {
	margin-right: 25px;
}

.menu__link {
	background-color: #4995eb;
	color: #ffff00;
	display: inline-block;
	padding: 5px 15px;
}
.menu__item:hover .menu__link {
	background-color: #f2ff37;
	color: #337acb;
}
.menu__item:hover .sub-menu {
	visibility: visible;
}

.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 15px;
	color: #337acb;
	width: 150px;
	visibility: hidden;
	text-align: center;
}

.sub-menu__item {
	background-color: #d4d414;
}
.sub-menu__link {
	display: inline-block;
	padding: 5px;
}
.sub-menu__link:hover {
	color: #ffff00;
}

.sub-menu__item:hover {
	background-color: #4995eb;
}

.list-three {
	position: absolute;
	top: 65%;
	left: 100%;
	color: #337acb;
	padding-left: 10px;
	width: 150px;
	visibility: hidden;
	text-align: center;
}

.sub-menu__item:hover .list-three {
	visibility: visible;
}

.list-three__item {
	background-color: #d4d414;
}
.list-three__link {
	display: inline-block;
	padding: 10px;
}
.list-three__link:hover {
	margin-left: 5px;
	color: #559df0;
}

.page {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	font-size: 0;
}

.side {
	position: sticky;
	top: 60px;
	left: 5px;
	font-size: 14px;
	width: 200px;
	padding: 15px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	z-index: 5;
}

.side--margin {
	margin-bottom: 100px;
}

.menu-side__item {
	position: relative;
}
.menu-side__item:not(:last-child) {
	margin-bottom: 5px;
}
.menu-side__link {
	background-color: #e5f855;
	color: #0026ff;
	display: block;
	font-size: 20px;
	position: relative;
	padding: 10px 10px 10px 35px;
}
.menu-side__link::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #559fef;
	position: absolute;
	left: 25px;
	top: 20px;
}

.menu-side__item:hover .menu-side__link {
	background-color: #4d19f7;
	color: #f2ff37;
}
.menu-side__item:hover .sub-menu-side {
	visibility: visible;
}

.sub-menu-side {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 5px;
	width: 200px;
	visibility: hidden;
}

.sub-menu-side__item {
	background-color: #4d19f7;
	position: relative;
}
.sub-menu-side__link {
	display: block;
	padding: 5px;
	font-size: 18px;
	color: #d4d414;
}
.sub-menu-side__link:hover {
	text-decoration: underline;
}

.sub-menu-side__item:hover .sub-menu-side__link {
	background-color: #d4d414;
	color: #4d19f7;
}

.second-sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 5px;
	width: 200px;
	visibility: hidden;
}

.second-sub-menu__item {
	background-color: #4d19f7;
}
.second-sub-menu__link {
	display: block;
	padding: 5px;
	font-size: 18px;
	color: #d4d414;
}
.second-sub-menu__link:hover {
	text-decoration: underline;
}

.second-sub-menu__item:hover .second-sub-menu__link {
	background-color: #d4d414;
	color: #4d19f7;
}

.sub-menu-side__item:hover .second-sub-menu {
	visibility: visible;
}

.decor-page__item-one {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: #d4d414;
	position: absolute;
	right: 0;
	top: 50%;
	margin: -150px -150px 0px 0px;
}

.decor-page__item-two {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: #4d19f7;
	position: absolute;
	left: 0;
	top: 30%;
	margin: 0px 0px -150px -150px;
}

.decor-page__item-three {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: #d4d414;
	position: fixed;
	left: 30%;
	top: 0;
	margin: -150px 0px 0px 0px;
}

.decor-page__item-four {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	background-color: #4d19f7;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: -120px;
}

.decor-page__item-five {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: #4d19f7;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0px -150px -80px 0px;
}

.decor-page__item-six {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: #d4d414;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: -250px;
}

.cat__img {
	position: absolute;
	bottom: 0;
	left: 42%;
	z-index: 3;
	margin-bottom: -115px;
}

.cat__img-2 {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 50;
	margin: -55px -150px 0px 0px;
}

.cat__img-3 {
	position: absolute;
	top: 270px;
	left: 0px;
}

.cat__img-3 img {
	width: 200px;
}
.page__block-cards {
	max-width: 1220px;
	margin: 0 auto;
	font-size: 0;
}

.raw--margin {
	margin-bottom: 31px;
}

.card {
	display: inline-block;
	max-width: 386px;
	position: relative;
}

.card__image img {
	max-width: 100%;
}

.card--margin:not(:last-child) {
	margin-right: 31px;
}
.social-item__link:not(:last-child) {
	margin-right: 13px;
}

.social-item__link img {
	width: 50px;
}

.social-item__link img:hover {
	opacity: 0.5;
}
.card__social {
	position: absolute;
	top: 241px;
	left: 0;
	visibility: hidden;
	width: 100%;
	padding: 0 20px;
	text-align: center;
	z-index: 2;
}

.card:hover .card__social {
	visibility: visible;
}
.card__image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(107, 119, 229, 0.7);
	z-index: 1;
}

.card:hover .card__image::before {
	opacity: 0.5;
}

.card__body {
	padding: 24px 40px;
	background-color: #fff;
	margin-right: 22px;
	margin-left: 22px;
	width: 341px;
	position: absolute;
	bottom: 22px;
	left: 0;
}

.card__title {
	color: #37393f;
	text-align: center;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 10px;
}

.card__text {
	color: #7d7d7d;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.35;
}

.footer {
	text-align: center;
	background-color: #9a9a9a;
	padding: 15px;
	width: 100%;
	position: relative;
}

.footer__link {
	color: #0026ff;
	font-size: 40px;
	font-weight: 600;
	position: relative;
	z-index: 3;
}

.footer__link:hover {
	text-decoration: underline;
	color: #d4d414;
	font-size: 45px;
}
