[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-social-linkedin:before {
  content: "\e90b";
}
._icon-social-facebook:before {
  content: "\e90e";
}
._icon-social-twitter:before {
  content: "\e90f";
}
._icon-link:before {
  content: "\e911";
}
._icon-phone1:before {
  content: "\e900";
}
._icon-envelope:before {
  content: "\e903";
}

