@use "sass:math";

// Кольори
$mainColor: rgba(21, 21, 21);
$purpleColor: rgb(101, 98, 147);
$darkColor: rgb(24, 24, 24);
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1110;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

body {
	font-family: "Nunito";
	color: $mainColor;
	line-height: toRem(24);

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem(1140);
	padding: 0 toRem(15);
}

.certificate {
	// .certificate__container

	&__container {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
