@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

body {
	margin: 0;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

#glitchCanvas {
	display: block;
}

/* Опціональні віньєтки */
.outer-vignette,
.center-vignette {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.outer-vignette {
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
}

.center-vignette {
	background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
}
