@import url("reset.css");

@import url("fonts.css");

body {
	font-family: "Causten", sans-serif;
	font-size: 18px;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.page {
	flex-grow: 1;
}

.header {
	border-bottom: 1px solid #bebcbd;
	min-height: 108px;
}

.header-container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 34px 10px;
	align-items: center;
}

.header-container__logo {
	margin-right: 164px;
}

.search {
	display: flex;
	gap: 12px;
	flex: 0 1 184px;
	padding: 12px 48px;
	border-radius: 8px;
	background-color: #f6f6f6;
	align-items: center;
}

.header-container__search {
	margin-right: 210px;
}

.search__item {
	color: #807d7e;
	font-weight: 500;
}

.search:hover .search__item {
	color: rgba(138, 51, 253, 1);
}

.header-container__language {
	margin-right: 60px;
}

.language {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	width: 206px;
	padding: 10px 0;
}

.language__link {
	color: #333;
}

.language__btn {
	display: flex;
}

.menu {
	position: absolute;
	left: 0;
	top: 100%;
	margin-left: 10px;
	color: #8a33fd;
	width: 180px;
	text-align: center;
	padding-top: 15px;
	visibility: hidden;
}

.menu__item {
	background-color: #b8b8b8;
	transition: all 0.3s;
}

.menu__item:hover {
	background-color: #a8abab;
}

.menu__link {
	display: inline-block;
	padding: 5px;
}

.language:hover .menu {
	visibility: visible;
}

.button__link {
	text-transform: capitalize;
	font-weight: 500;
	border-radius: 8px;
	padding: 12px 48px;
	flex-shrink: 0;
}

.btn-1 {
	color: #fff;
	background-color: rgba(138, 51, 253, 1);
	border: 1px solid transparent;
	transition: all 1s;
}
.btn-1--margin {
	margin-right: 29px;
}

.btn-1:hover {
	color: rgba(138, 51, 253, 1);
	background-color: transparent;
	border: 1px solid #3c4242;
}

.btn-2 {
	border: 1px solid #3c4242;
	color: rgba(138, 51, 253, 1);
	transition: all 1s;
}

.btn-2:hover {
	color: #fff;
	background-color: rgba(138, 51, 253, 1);
	border: 1px solid transparent;
}

.page__container {
	max-width: 1275px;
	margin: 0 auto;
	padding: 50px 15px;
}

.page__title {
	margin-bottom: 70px;
}

.title {
	color: #3c4242;
	font-family: "Core Sans C";
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.68px;
}

.title--before {
	display: flex;
	align-items: center;
	gap: 20px;
}

.title--before::before {
	content: "";
	height: 30px;
	border-radius: 10px;
	flex: 0 0 6px;
	background: url("../img/rectangle.svg");
	align-self: flex-start;
}

.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.products__column {
	padding: 0 25px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	margin-bottom: 50px;
}

.item-product {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.item-product__image {
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	width: 273px;
	height: 393px;
	transition: all 0.5s;
}

.item-product__image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(170, 177, 245, 0.371);
	z-index: 1;
	transition: all 0.5s;
}

.item-product__image:hover::before {
	opacity: 1;
}

.item-product__image img {
	width: 100%;
	height: 100%;
}
.item-product__image:not(:last-child) {
	margin-bottom: 15px;
}

.item-product__body {
	display: flex;
	flex-grow: 1;
}
.item-product__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.item-product__title {
	flex-grow: 1;
}

.item-product__title:not(:last-child) {
	margin-bottom: 10px;
}

.item-product__link-title {
	color: #2a2f2f;
	font-size: 17.8px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.56;
	letter-spacing: -0.715px;
	transition: all 1s;
}

.item-product__link-title:hover {
	color: #7f7f7f;
}

.item-product__text {
	color: #7f7f7f;
	font-size: 13.4px;
	font-weight: 500;
	line-height: 2.08;
	letter-spacing: -0.536px;
}

.item-product__link {
	align-self: flex-start;
	min-height: 14px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 18px;
	background: url("../img/arrow-2.svg") center no-repeat;
}

.page__wishlist {
	max-width: 920px;
	margin: 0 auto;
}

.block-wishlist {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.wishlist__block:not(:last-child) {
	margin-bottom: 60px;
}

.title--margin {
	margin-bottom: 50px;
}

.block-wishlist__btn {
	flex-basis: 22px;
	flex-shrink: 0;
	margin-right: 36px;
}

.block-wishlist__image {
	border-radius: 4px;
	flex: 0 0 110px;
	height: 110px;
	margin-right: 36px;
}

.block-wishlist__image img {
	width: 100%;
}

.block-wishlist__body {
	gap: 12px;
	color: #3c4242;
	letter-spacing: 0.44px;
	font-weight: 700;
	font-size: 22px;
}

.body-product {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.grey-color {
	font-weight: 500;
	color: #807d7e;
}

.block-wishlist__price {
	margin-right: 50px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	color: #807d7e;
}

.btn-1--padding {
	padding: 14px 28px;
}

.page__wishlist {
	margin-bottom: 50px;
}

.page__orders {
	max-width: 900px;
	margin: 0 auto;
}

.page__orders > *:not(:last-child) {
	margin-bottom: 30px;
}

.info-order {
	padding: 28px 47px;
	background-color: rgba(246, 246, 246, 1);
	overflow: hidden;
}

.info-order--margin {
	margin-bottom: 30px;
}

.info-order__number {
	color: #3c4242;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}

.order-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #807d7e;
	font-size: 14px;
	font-weight: 600;
}

.date,
.delivery {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.delivery__status {
	align-self: flex-end;
}

.color {
	color: #bebcbd;
	font-weight: 400;
}

.order-item {
	display: flex;
	align-items: center;
	padding-bottom: 29px;
	border-bottom: 1px solid #edeef2;
}

.order-item__image {
	height: 96px;
	border-radius: 4px;
	margin-right: 25px;
	flex: 0 0 96px;
}

.order-item__image img {
	width: 100%;
}

.body-product__name--fontsize {
	font-size: 16px;
	margin-bottom: 10px;
}

.body-product__price {
	color: #807d7e;
	font-weight: 600;
}

.order-item__body {
	color: #3c4242;
	font-size: 14px;
	font-weight: 600;
	gap: 5px;
}

.footer {
	padding: 15px 0;
	text-align: center;
	background-color: #9d9898;
}

.footer__link {
	font-size: 50px;
	color: #114878;
	font-weight: 600;
	transition: 2s;
}

.footer__link:hover {
	text-decoration: underline;
	color: #216daf;
}
