@import url("https://fonts.googleapis.com/css?family=Nunito:regular,600,700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-social-linkedin:before {
  content: "\e90b";
}

._icon-social-facebook:before {
  content: "\e90e";
}

._icon-social-twitter:before {
  content: "\e90f";
}

._icon-link:before {
  content: "\e911";
}

._icon-phone1:before {
  content: "\e900";
}

._icon-envelope:before {
  content: "\e903";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Nunito";
  color: rgb(21, 21, 21);
  line-height: 1.5rem;
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 71.25rem;
  padding: 0 0.9375rem;
}

.page {
  padding-top: 3.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.signature {
  margin-bottom: 3.125rem;
  color: white;
  max-width: 41rem;
  padding: 1.8125rem 1.5rem;
  background-color: rgb(68, 235, 238);
  border-radius: 0.75rem;
}
.signature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 38.9375em) {
  .signature__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }
}
.signature__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.signature__left img {
  max-width: 5.625rem;
  height: 5.625rem;
  width: 100%;
  border-radius: 50%;
}
.signature__name {
  font-size: 1.125rem;
}
.signature__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.signature__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 38.9375em) {
  .signature__right {
    -ms-flex-item-align: center;
        align-self: center;
    gap: 0.9375rem;
  }
}
.signature__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 38.9375em) {
  .signature__link {
    gap: 0.5rem;
  }
}
@media (any-hover: hover) {
  .signature__link:hover {
    color: rgb(87, 87, 244);
  }
}
.signature__social {
  font-size: 1.125rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .signature__social:hover {
    color: rgb(87, 87, 244);
  }
}
@media (max-width: 38.9375em) {
  .signature__social {
    font-size: 1.375rem;
  }
}

.signature-two {
  overflow: hidden;
  padding: 3.125rem;
  border-radius: 0.5rem;
  max-width: 75rem;
  background-color: rgb(20, 20, 51);
  position: relative;
}
@media (max-width: 43.75em) {
  .signature-two {
    padding: 0.3125rem;
  }
}
.signature-two img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@media (max-width: 43.75em) {
  .signature-two img {
    opacity: 0.4;
  }
}
.signature-two__content {
  padding: 0.9375rem;
  position: relative;
  z-index: 5;
  padding-left: 30%;
  color: white;
}
@media (max-width: 43.75em) {
  .signature-two__content {
    padding-left: 0%;
  }
}
.signature-two__name {
  font-size: 2.1875rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.3125rem;
}
.signature-two__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.9375rem;
}
@media (min-width: 71.25em) {
  .signature-two__wrap {
    gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  @supports (gap: clamp( 0.9375rem , -0.1600609756rem  +  5.487804878vw , 3.75rem )) {
    .signature-two__wrap {
      gap: clamp( 0.9375rem , -0.1600609756rem  +  5.487804878vw , 3.75rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -0.1600609756rem  +  5.487804878vw , 3.75rem )) {
    .signature-two__wrap {
      gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 51.25);
    }
  }
}
@media (max-width: 20em) {
  .signature-two__wrap {
    gap: 0.9375rem;
  }
}
.label {
  color: rgb(29, 210, 143);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.item-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-signature span {
  font-size: 0.875rem;
  color: rgb(199, 194, 194);
}
.item-signature a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-signature a:hover {
    color: rgb(29, 210, 143);
  }
}