@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 78.125rem;
  padding: 0 0.9375rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.header__first {
  background-color: #37393f;
  padding: 0.8125rem 0;
}
.header__second {
  padding: 1.8125rem 0;
  position: sticky;
  top: 0;
}
@media (max-width: 60em) {
  .header__second {
    padding: 0.3125rem 0;
  }
}

.first-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
  row-gap: 0.625em;
}
.first-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-header__icon {
  width: 1.125rem;
  height: 1.0625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.first-header__text {
  font-size: 0.875rem;
  color: #fff;
}
.first-header__text--link {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.first-header__text--link:hover {
  color: #40ddb6;
  cursor: pointer;
}
.first-header__item--grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 60em) {
  .first-header {
    display: none;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link:hover .social__image {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.social__image {
  width: 1.125rem;
  height: 1.0625rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.second-header {
  width: 100%;
  background-color: white;
}
.second-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 78.125em) {
  .second-header__container {
    min-height: 3.125rem;
    gap: 1.25rem;
  }
}
@media (min-width: 60em) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 60em) {
  .icon-menu {
    width: 1.875rem;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
}

.logo, .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Poppins";
  font-size: 1.5625rem;
  font-weight: 700;
}
@media (max-width: 78.125em) {
  .logo, .footer__logo {
    font-size: 1.125rem;
  }
}
@media (max-width: 29.99875em) {
  .logo__text {
    display: none;
  }
}
.logo a img, .footer__logo a img {
  width: 2.625rem;
  height: 1.8125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.logo span, .footer__logo span {
  color: #6b77e5;
}

@media (max-width: 60em) {
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -0.0625rem;
  }
}
.menu-open body {
  overflow: hidden;
}

.button, .body-footer__form button, .subscribe__button, .part-right__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1.3125rem 2.1875rem;
  color: #fff;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6b77e5;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button:hover, .body-footer__form button:hover, .subscribe__button:hover, .part-right__button:hover {
  background-color: #838cdc;
}
@media (max-width: 78.125em) {
  .button, .body-footer__form button, .subscribe__button, .part-right__button {
    padding: 0.9375rem;
  }
}

@media (max-width: 60em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #37393f;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.125rem;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #40ddb6;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
  row-gap: 0.625rem;
}
@media (max-width: 60em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 1.75rem;
  }
}
@media (max-width: 78.125em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.menu__item--position {
  position: relative;
}
.menu__item--position .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item--position .menu__link::after {
  content: "";
  background: url(../img/arrow.svg) 0 0 no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  width: 0.625rem;
  height: 0.375rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 60em) {
  .menu__item--position .menu__link::after {
    display: none;
  }
}
@media (max-width: 60em) {
  .menu__item--position .menu__link {
    display: block;
  }
}
@media (any-hover: hover) {
  .menu__item--position:hover .sub-menu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    pointer-events: all;
  }
  .menu__item--position:hover .menu__link::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #6b77e5;
  text-decoration: underline;
}
@media (max-width: 60em) {
  .menu__link {
    color: #fff;
    font-size: 1.75rem;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 0.9375rem;
  -webkit-transform: translate(0px, -10%);
      -ms-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 60em) {
  .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    padding-top: 0.625rem;
  }
}
.sub-menu__list {
  width: 12.5rem;
  padding: 0.625rem;
  background-color: #6b77e5;
}
@media (max-width: 60em) {
  .sub-menu__list {
    width: 100%;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (max-width: 60em) {
  .sub-menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.sub-menu__link {
  padding: 0.3125rem 0;
  width: 100%;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.sub-menu__link:hover {
  background-color: #838cdc;
}
@media (max-width: 60em) {
  .sub-menu__link {
    font-size: 1.5rem;
  }
}

.hero {
  font-family: "Inter";
  color: #fff;
  background: url("../img/hero-image.webp") center/cover no-repeat;
  min-height: 100svh;
}
@media (max-width: 60em) {
  .hero {
    min-height: 50svh;
  }
}
.hero__content {
  background-color: rgba(55, 57, 63, 0.91);
  max-width: 51.75rem;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11.9375rem;
}
@media (max-width: 60em) {
  .hero__content {
    max-width: 100%;
    min-height: 50vh;
    padding: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .hero__content {
    padding: 5rem 0.9375rem 0.9375rem;
  }
}
.hero__body {
  max-width: 33.0625rem;
}
.hero__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
  font-weight: 600;
  line-height: 146.187%;
  margin-bottom: 0.625rem;
}
@media (max-width: 20.625em) {
  .hero__label {
    line-height: 100%;
  }
}
.hero__label::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  background-color: #40ddb6;
}
@media (max-width: 20.625em) {
  .hero__label::before {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.hero__title {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .hero__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .hero__title {
    font-size: 1.625rem;
  }
}
.hero__title b {
  color: #40ddb6;
}
.hero__text {
  color: #b9b9b9;
  font-weight: 500;
  line-height: 146.187%;
}
.hero__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}
@media (max-width: 29.99875em) {
  .hero__text:not(:last-child):not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.9375rem;
}
.hero__buttons button {
  background-color: #40ddb6;
  color: #37393f;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1.3125rem 1.6875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 47.99875em) {
  .hero__buttons button {
    padding: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .hero__buttons button:hover {
    background-color: #6b77e5;
    color: #fff;
  }
}
.hero__buttons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.hero__buttons a svg {
  width: 3.75rem;
  height: 3.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .hero__buttons a svg:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.hero__buttons a span {
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .hero__buttons a:hover span {
    color: #40ddb6;
    text-decoration: none;
  }
}

.business-plan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.3125rem;
     -moz-column-gap: 4.3125rem;
          column-gap: 4.3125rem;
  row-gap: 0.625rem;
}
@media (max-width: 78.125em) {
  .business-plan__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .business-plan__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.part-left {
  padding: 9.4375rem 3.875rem 9.4375rem 0rem;
  max-width: 26.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 78.125em) {
  .part-left {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .part-left {
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .part-left {
    padding: 0.625rem 0rem;
  }
}
.part-left__img {
  aspect-ratio: 424/424;
  margin-bottom: 1.1875rem;
}
.part-left__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.part-left__title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 121%;
  margin-bottom: 0.8125rem;
}
@media (max-width: 29.99875em) {
  .part-left__title {
    font-size: 1.625rem;
  }
}
.part-left__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.part-left__link {
  color: #37393f;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .part-left__link:hover {
    color: #6b77e5;
    text-decoration: none;
  }
}

.part-right {
  max-width: 39.0625rem;
  padding: 9.4375rem 0rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 78.125em) {
  .part-right {
    padding: 4.375rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .part-right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .part-right {
    padding: 0.625rem 0rem;
  }
}
.part-right__header {
  margin-bottom: 1.25rem;
}
@media (max-width: 29.99875em) {
  .part-right__header {
    margin-bottom: 0.9375rem;
  }
}
.part-right__text-wrap {
  margin-bottom: 1.25rem;
}
@media (max-width: 29.99875em) {
  .part-right__text-wrap {
    margin-bottom: 0.9375rem;
  }
}
.part-right__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.part-right__list {
  margin-bottom: 2.6875rem;
}
@media (max-width: 60em) {
  .part-right__list {
    margin-bottom: 1.5625rem;
  }
}
.part-right__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: #37393f;
  font-family: "Poppins";
  font-size: 20px;
}
.part-right__list li::before {
  content: "";
  background: url("../img/icon-list.svg");
  height: 1.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
  border-radius: 50%;
}
.part-right__list li:not(:last-child) {
  margin-bottom: 1.4375rem;
}
.part-right__awards {
  margin-bottom: 2.3125rem;
}
@media (max-width: 47.99875em) {
  .part-right__awards {
    margin-bottom: 0.9375rem;
  }
}
.part-right__awards img {
  width: 2.4375rem;
  height: 2.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.part-right__button {
  font-family: "Inter";
  padding: 21px 27px;
}
@media (max-width: 47.99875em) {
  .part-right__button {
    padding: 0.9375rem;
  }
}

.text {
  color: #7d7d7d;
  font-weight: 400;
  line-height: 146.187%;
}

.header-whitecollar {
  max-width: 27.1875rem;
}
.header-whitecollar__label, .subscribe__label, .consulting__label {
  color: #37393f;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  margin-bottom: 1rem;
}
.header-whitecollar__label::before, .subscribe__label::before, .consulting__label::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  background-color: #40ddb6;
}
.header-whitecollar__title, .subscribe__title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%;
}
@media (max-width: 60em) {
  .header-whitecollar__title, .subscribe__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .header-whitecollar__title, .subscribe__title {
    font-size: 1.625rem;
  }
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
  row-gap: 0.9375rem;
}
.awards__item {
  max-width: 18.1875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.1875rem;
  padding: 1.9375rem;
  border: 1px solid #e3e3e3;
}
.awards__title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 1.25rem;
  margin-bottom: 0.1875rem;
  font-weight: 600;
}
.text--size {
  font-size: 1rem;
  line-height: 135.187%;
}

.consulting {
  position: relative;
  color: #fff;
  background-color: #37393f;
}
.consulting__container {
  padding: 8.625rem 5.625rem 8.625rem 0.9375rem;
}
@media (max-width: 72.5em) {
  .consulting__container {
    padding: 0.9375rem;
  }
}
.consulting__content {
  max-width: 40.625rem;
}
@media (max-width: 72.5em) {
  .consulting__content {
    margin: 0 auto;
  }
}
.consulting__label {
  color: #fff;
}
.consulting__title {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 121%;
  max-width: 23.125rem;
  margin-bottom: 2.25rem;
}
@media (max-width: 29.99875em) {
  .consulting__title {
    font-size: 1.625rem;
    margin-bottom: 0.9375rem;
  }
}
.consulting__text {
  line-height: 146.187%;
  max-width: 35.625rem;
  margin-bottom: 2.25rem;
}
@media (max-width: 29.99875em) {
  .consulting__text {
    margin-bottom: 0.9375rem;
  }
}
.consulting__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7.5px;
  margin-bottom: 2.25rem;
  row-gap: 0.9375rem;
}
.consulting__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.4375rem;
  margin: 0 -1.0625rem;
}
.consulting__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 72.5em) {
  .consulting__image {
    display: none;
  }
}

.info__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 7.5px;
}
@media (max-width: 36.5625em) {
  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.info__content {
  padding: 1.6875rem 1.875rem;
  background-color: #2e2f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
@media (max-width: 36.5625em) {
  .info__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.info__icon {
  height: 4.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.9375rem;
          flex: 0 0 4.9375rem;
}
.info__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.125rem;
}

.text__item-1 {
  color: #fff;
  line-height: 135.187%;
}
.text__item-2 {
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}

.review__item {
  padding: 0 1.0625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  color: #fff;
  font-family: Poppins;
}
.review__item::before {
  content: "";
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  border-radius: 50%;
  background: url(..//img/check.svg);
}
@media (max-width: 36.5625rem) {
  .review__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.review__text {
  font-size: 1.25rem;
  font-weight: 700;
}
.review__text--yellow {
  color: #ffb342;
  font-weight: 400;
}
.review__link {
  color: #40ddb6;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .review__link:hover {
    color: #6b77e5;
  }
}

.subscribe {
  padding: 1.875rem 0rem;
}
.subscribe__container {
  padding: 6rem 0rem;
  position: relative;
  overflow: clip;
}
@media (max-width: 47.99875em) {
  .subscribe__container {
    padding: 0.9375rem 0rem;
  }
}
.subscribe__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.subscribe__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(64, 221, 182, 0.75);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.subscribe__bg img {
  aspect-ratio: 1220/525;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.subscribe__body {
  padding: 0rem 0.9375rem;
  max-width: 45.5625rem;
  margin: 0 auto;
  text-align: center;
}
.subscribe__label {
  margin-bottom: 1.625rem;
}
.subscribe__label::before {
  background-color: #6b77e5;
}
.subscribe__title {
  margin-bottom: 0.625rem;
}
.subscribe__title span {
  color: #fff;
}
.subscribe__text {
  color: #37393f;
}
.subscribe__text:not(:last-child) {
  margin-bottom: 1.625rem;
}
.subscribe__button {
  padding: 1.3125rem 2.625rem;
}
@media (max-width: 47.99875em) {
  .subscribe__button {
    padding: 0.9375rem;
  }
}

.footer {
  background-color: #37393f;
  color: #fff;
  padding-top: 6.8125rem;
  padding-bottom: 5.0625rem;
}
.footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.375rem;
  border-bottom: 1px solid #6c6d72;
  margin-bottom: 3.125rem;
}
@media (max-width: 78.125em) {
  .footer__head {
    padding-bottom: 0.9375rem;
    margin-bottom: 0.625rem;
  }
}
.footer__logo span {
  color: #40ddb6;
}
@media (max-width: 78.125em) {
  .footer {
    padding: 0.9375rem 0;
  }
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 15px;
}
@media (max-width: 78.125em) {
  .menu-footer {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.item-menu__image-link img {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item-menu__image-link:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item-menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.1875rem;
}
.item-menu__text h5 {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
}
.item-menu__text a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.item-menu__text a:hover {
  color: #40ddb6;
}
@media (max-width: 60em) {
  .item-menu__text {
    display: none;
  }
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.125rem;
  border-bottom: 1px solid #6c6d72;
}
@media (max-width: 78.125em) {
  .body-footer {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 60em) {
  .body-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.body-footer__flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 0.9375rem;
}
@media (max-width: 78.125em) {
  .body-footer__flex-wrap {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.body-footer__title {
  color: #40ddb6;
  font-size: 1.25rem;
  margin-bottom: 1.25em;
  font-family: "Poppins";
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.body-footer__title::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  background-color: #6b77e5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 29.99875em) {
  .body-footer__title {
    font-size: 1.125rem;
  }
}
.body-footer__form {
  background-color: #474950;
  padding: 2.625rem 2.1875rem;
}
@media (max-width: 78.125em) {
  .body-footer__form {
    padding: 0.625rem;
  }
}
.body-footer__form input {
  font-size: 18px;
  padding: 1.375rem 0rem 1.375rem 1.6875rem;
}
.body-footer__form input::-webkit-input-placeholder {
  color: #37393f;
}
.body-footer__form input::-moz-placeholder {
  color: #37393f;
}
.body-footer__form input:-ms-input-placeholder {
  color: #37393f;
}
.body-footer__form input::-ms-input-placeholder {
  color: #37393f;
}
.body-footer__form input::placeholder {
  color: #37393f;
}
@media (max-width: 29.99875em) {
  .body-footer__form input::-webkit-input-placeholder {
    font-size: 0.875rem;
  }
  .body-footer__form input::-moz-placeholder {
    font-size: 0.875rem;
  }
  .body-footer__form input:-ms-input-placeholder {
    font-size: 0.875rem;
  }
  .body-footer__form input::-ms-input-placeholder {
    font-size: 0.875rem;
  }
  .body-footer__form input::placeholder {
    font-size: 0.875rem;
  }
}
.body-footer__form input:focus {
  outline: 2px solid #6b77e5;
}
@media (max-width: 78.125em) {
  .body-footer__form input {
    padding: 0.9375rem;
  }
}
.body-footer__form button {
  font-size: 1.125rem;
  padding: 1.5rem 1.6875rem;
  font-family: "Inter";
}
@media (max-width: 78.125em) {
  .body-footer__form button {
    padding: 0.9375rem;
  }
}
@media (max-width: 29.99875em) {
  .body-footer__form button {
    font-size: 1rem;
  }
}
.body-footer__item a {
  line-height: 1.2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 29.99875em) {
  .body-footer__item a {
    font-size: 16px;
  }
}
.body-footer__item:hover a {
  color: #40ddb6;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form {
  font-size: 0;
}
.form__title {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
}
@media (max-width: 29.99875em) {
  .form__title {
    font-size: 1rem;
  }
}
.form__text {
  line-height: 220.187%;
  margin-bottom: 1.4375rem;
  font-size: 1.125rem;
}
@media (max-width: 29.99875em) {
  .form__text {
    font-size: 14px;
  }
}

.bottom-footer {
  padding-top: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}
.bottom-footer__copyright {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 29.99875em) {
  .bottom-footer__social {
    font-size: 0.875rem;
  }
}

.copyright__link-1 {
  color: #40ddb6;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.copyright__link-1:hover {
  color: #6b77e5;
}
.copyright__link-2 {
  color: #6b77e5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.copyright__link-2:hover {
  color: #40ddb6;
}
@media (max-width: 29.99875em) {
  .copyright {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}