@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
	max-width: toRem(1400);
}
body {
	margin: 0;
	overflow: hidden;
	background: #111111;
	font-family: sans-serif;
}
.scene {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.word {
	position: absolute;
	background: #333;
	color: #fff;
	padding: 10px 15px;
	border-radius: 6px;
	font-weight: bold;
	cursor: grab;
	user-select: none;
	white-space: nowrap;
	text-align: center;
	transform-origin: center center;

	&:nth-child(5n + 1) {
		background: #0079fb;
	}
	&:nth-child(5n + 2) {
		background: #48dbfb;
	}
	&:nth-child(5n + 3) {
		background: #48ff00;
	}
	&:nth-child(5n + 4) {
		background: #ff4d01;
	}
	&:nth-child(5n + 5) {
		background: #00fffb;
	}
}
