@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-truck1:before {
  content: "\e903";
}

._icon-strategy-6:before {
  content: "\e902";
}

._icon-arrow__down:before {
  content: "\e906";
}

._icon-arrow-right:before {
  content: "\e907";
}

._icon-building:before {
  content: "\e908";
}

._icon-checkmark:before {
  content: "\e909";
}

._icon-facebook1:before {
  content: "\e90a";
}

._icon-s-github:before {
  content: "\e90b";
}

._icon-phone:before {
  content: "\e90c";
}

._icon-s-dribbble:before {
  content: "\e90d";
}

._icon-s-fingers:before {
  content: "\e90e";
}

._icon-s-linkedin:before {
  content: "\e90f";
}

._icon-strategy-1:before {
  content: "\e905";
}

._icon-strategy-2:before {
  content: "\e910";
}

._icon-strategy-3:before {
  content: "\e911";
}

._icon-strategy-4:before {
  content: "\e912";
}

._icon-strategy-5:before {
  content: "\e913";
}

._icon-s-x:before {
  content: "\e915";
}

._icon-youtube1:before {
  content: "\e917";
}

._icon-truck:before {
  content: "\e900";
}

._icon-transport:before {
  content: "\e900";
}

._icon-transaction:before {
  content: "\e900";
}

._icon-shipping:before {
  content: "\e900";
}

._icon-github:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-youtube:before {
  content: "\ea9d";
}

._icon-dribbble:before {
  content: "\eaa7";
}

._icon-linkedin:before {
  content: "\eac9";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
}
@media (max-width: 60em) {
  .header {
    padding: 0.625rem 0;
  }
}
.header__container {
  gap: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 74.99875em) {
  .header__container {
    gap: 0.9375rem;
  }
}
.header__logo {
  z-index: 17;
  height: 2rem;
}
@media (max-width: 30em) {
  .header__logo {
    max-width: 6.25rem;
  }
}
.header__logo img {
  max-width: 8.75rem;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header.scrolled {
  background-color: rgb(229, 244, 246);
}
.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    z-index: 15;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.3125rem;
}
@media (max-width: 74.99875em) {
  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 1.75rem;
  }
}
.menu__item--position {
  position: relative;
}
@media (any-hover: hover) {
  .menu__item--position:hover .sub-menu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    pointer-events: all;
  }
  .menu__item--position:hover .menu__link::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: rgb(0, 134, 201);
  }
  .menu__item--position:hover .menu__link {
    color: rgb(6, 89, 134);
  }
  .menu__item--position:hover .menu__link::after {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: rgb(0, 134, 201);
  }
  .menu__item:hover .menu__link::after {
    width: 100%;
  }
}
.menu__link {
  position: relative;
  color: rgb(24, 24, 24);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0.75rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 47.99875em) {
  .menu__link::before {
    font-size: 1.75rem;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.125rem;
  border-radius: 0.3125rem;
  background: rgb(0, 134, 201);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.75rem;
    color: #ffffff;
    text-shadow: 2px 2px 0 rgb(0, 134, 201), 2px -2px 0 rgb(0, 134, 201), -2px 2px 0 rgb(0, 134, 201), -2px -2px 0 rgb(0, 134, 201), 2px 0px 0 rgb(0, 134, 201), 0px 2px 0 rgb(0, 134, 201), -2px 0px 0 rgb(0, 134, 201), 0px -2px 0 rgb(0, 134, 201);
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 0.9375rem;
  -webkit-transform: translate(0px, -10%);
      -ms-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .sub-menu {
    position: relative;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    padding-top: 0.625rem;
    pointer-events: auto;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
}
.sub-menu__list {
  background-color: rgb(177, 177, 177);
  width: 9.375rem;
}
@media (max-width: 47.99875em) {
  .sub-menu__list {
    width: 100%;
    background-color: transparent;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (any-hover: hover) {
  .sub-menu__item:hover {
    background-color: rgb(0, 134, 201);
  }
}
.sub-menu__link {
  padding: 0.5rem 0.625rem;
  width: 100%;
  color: #fff;
  font-size: 0.9375rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media (max-width: 47.99875em) {
  .sub-menu__link {
    font-size: 1.5rem;
    color: rgb(0, 134, 201);
  }
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 50;
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    width: 1.875rem;
    height: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    -webkit-transition: -webkit-transform 330ms ease-out;
    transition: -webkit-transform 330ms ease-out;
    transition: transform 330ms ease-out;
    transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
  }
  .icon-menu.open {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .icon-menu.open .icon-menu__line--start {
    -webkit-transform: rotate(-90deg) translateX(2px);
        -ms-transform: rotate(-90deg) translateX(2px);
            transform: rotate(-90deg) translateX(2px);
  }
  .icon-menu.open .icon-menu__line--end {
    -webkit-transform: rotate(-90deg) translateX(-2px);
        -ms-transform: rotate(-90deg) translateX(-2px);
            transform: rotate(-90deg) translateX(-2px);
  }
  .icon-menu__line {
    background-color: rgb(0, 134, 201);
    border-radius: 5px;
    width: 100%;
    height: 4px;
  }
  .icon-menu__line--half {
    width: 50%;
  }
  .icon-menu__line--start {
    -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
  .icon-menu__line--end {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
}

.menu-open body {
  overflow: hidden;
}

.action-header__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .action-header__link:hover {
    color: rgb(0, 134, 201);
  }
}
.action-header__button, .button--background {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: rgb(0, 134, 201);
  color: rgb(255, 255, 255);
  padding: 0.625rem 1.125rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .action-header__button:hover, .button--background:hover {
    background-color: rgb(6, 89, 134);
  }
}

body {
  font-family: "Inter";
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 77.875rem;
  padding: 0 0.9375rem;
}

.hero {
  position: relative;
}
@media (max-width: 56.25em) {
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: rgb(0, 0, 0);
    z-index: -1;
  }
}
.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 56.25rem) {
  .hero__container {
    grid-template-columns: 1fr;
  }
}
.hero__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.0625rem solid rgb(185, 230, 254);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  background: rgb(240, 249, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  row-gap: 0.625rem;
}
.hero__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 37.5em) {
  .hero__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: transparent;
  }
}
.hero__body {
  z-index: 2;
}
@media (min-width: 77.875em) {
  .hero__body {
    max-width: 34rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (max-width: clamp( 18.125rem , 12.6390388769rem  +  27.4298056156vw , 34rem )) {
    .hero__body {
      max-width: clamp( 18.125rem , 12.6390388769rem  +  27.4298056156vw , 34rem );
    }
  }
  @supports not (max-width: clamp( 18.125rem , 12.6390388769rem  +  27.4298056156vw , 34rem )) {
    .hero__body {
      max-width: calc(18.125rem + 15.875 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body {
    max-width: 18.125rem;
  }
}
@media (min-width: 77.875em) {
  .hero__body {
    padding-right: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-right: clamp( 0.625rem , 0.3226241901rem  +  1.5118790497vw , 1.5rem )) {
    .hero__body {
      padding-right: clamp( 0.625rem , 0.3226241901rem  +  1.5118790497vw , 1.5rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.3226241901rem  +  1.5118790497vw , 1.5rem )) {
    .hero__body {
      padding-right: calc(0.625rem + 0.875 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body {
    padding-right: 0.625rem;
  }
}
@media (min-width: 77.875em) {
  .hero__body {
    padding-top: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-top: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem )) {
    .hero__body {
      padding-top: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem )) {
    .hero__body {
      padding-top: calc(1.25rem + 9.375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body {
    padding-top: 1.25rem;
  }
}
@media (min-width: 77.875em) {
  .hero__body {
    padding-bottom: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-bottom: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem )) {
    .hero__body {
      padding-bottom: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -1.9897408207rem  +  16.1987041037vw , 10.625rem )) {
    .hero__body {
      padding-bottom: calc(1.25rem + 9.375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 77.875em) {
  .hero__body--padding {
    padding-top: 12.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-top: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem )) {
    .hero__body--padding {
      padding-top: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem )) {
    .hero__body--padding {
      padding-top: calc(1.25rem + 11.5625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body--padding {
    padding-top: 1.25rem;
  }
}
@media (min-width: 77.875em) {
  .hero__body--padding {
    padding-bottom: 12.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-bottom: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem )) {
    .hero__body--padding {
      padding-bottom: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -2.7456803456rem  +  19.9784017279vw , 12.8125rem )) {
    .hero__body--padding {
      padding-bottom: calc(1.25rem + 11.5625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__body--padding {
    padding-bottom: 1.25rem;
  }
}
.hero__title {
  color: rgb(16, 24, 40);
  font-weight: 600;
}
@media (min-width: 77.875em) {
  .hero__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 1.875rem , 1.2270518359rem  +  3.2397408207vw , 3.75rem )) {
    .hero__title {
      font-size: clamp( 1.875rem , 1.2270518359rem  +  3.2397408207vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.2270518359rem  +  3.2397408207vw , 3.75rem )) {
    .hero__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 77.875em) {
  .hero__title {
    line-height: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (line-height: clamp( 2.1875rem , 1.3883639309rem  +  3.9956803456vw , 4.5rem )) {
    .hero__title {
      line-height: clamp( 2.1875rem , 1.3883639309rem  +  3.9956803456vw , 4.5rem );
    }
  }
  @supports not (line-height: clamp( 2.1875rem , 1.3883639309rem  +  3.9956803456vw , 4.5rem )) {
    .hero__title {
      line-height: calc(2.1875rem + 2.3125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    line-height: 2.1875rem;
  }
}
.hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 56.25em) {
  .hero__title {
    color: white;
  }
}
.hero__text p {
  color: rgb(24, 24, 24);
  line-height: 1.875rem;
}
@media (min-width: 77.875em) {
  .hero__text p {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 1.125rem , 1.0818034557rem  +  0.2159827214vw , 1.25rem )) {
    .hero__text p {
      font-size: clamp( 1.125rem , 1.0818034557rem  +  0.2159827214vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0818034557rem  +  0.2159827214vw , 1.25rem )) {
    .hero__text p {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__text p {
    font-size: 1.125rem;
  }
}
@media (max-width: 56.25em) {
  .hero__text p {
    color: white;
  }
}
@media (min-width: 77.875em) {
  .hero__text:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.6452483801rem  +  3.0237580994vw , 3rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6452483801rem  +  3.0237580994vw , 3rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.6452483801rem  +  3.0237580994vw , 3rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  color: rgb(71, 84, 103);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.hero__link::before {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .hero__link:hover {
    color: rgb(0, 134, 201);
  }
  .hero__link:hover::before {
    -webkit-transform: translateX(0.3125rem);
        -ms-transform: translateX(0.3125rem);
            transform: translateX(0.3125rem);
  }
}
.hero__image {
  position: absolute;
  top: 0;
  right: -100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(52% - 1.5rem);
  height: 100%;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
  -webkit-transition: right 1.5s ease;
  transition: right 1.5s ease;
  -webkit-animation: revealClipPath 1s ease forwards;
          animation: revealClipPath 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.hero__image::before {
  content: "";
}
@media (max-width: 56.25em) {
  .hero__image {
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-animation: none;
            animation: none;
  }
}
.hero__image.show {
  right: 0;
}

@-webkit-keyframes revealClipPath {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes revealClipPath {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 600;
  line-height: 1.75rem;
}
@media (min-width: 77.875em) {
  .button {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 1rem , 0.9568034557rem  +  0.2159827214vw , 1.125rem )) {
    .button {
      font-size: clamp( 1rem , 0.9568034557rem  +  0.2159827214vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9568034557rem  +  0.2159827214vw , 1.125rem )) {
    .button {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 1rem;
  }
}
@media (min-width: 77.875em) {
  .button {
    padding-top: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-top: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem )) {
    .button {
      padding-top: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem )) {
    .button {
      padding-top: calc(0.3125rem + 0.6875 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 77.875em) {
  .button {
    padding-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-bottom: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem )) {
    .button {
      padding-bottom: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.3125rem , 0.0749190065rem  +  1.1879049676vw , 1rem )) {
    .button {
      padding-bottom: calc(0.3125rem + 0.6875 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 77.875em) {
  .button {
    padding-left: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-left: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem )) {
    .button {
      padding-left: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem )) {
    .button {
      padding-left: calc(0.625rem + 0.75 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-left: 0.625rem;
  }
}
@media (min-width: 77.875em) {
  .button {
    padding-right: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-right: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem )) {
    .button {
      padding-right: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.3658207343rem  +  1.2958963283vw , 1.375rem )) {
    .button {
      padding-right: calc(0.625rem + 0.75 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-right: 0.625rem;
  }
}
.button--transparent {
  color: rgb(52, 64, 84);
  border: 0.0625rem solid rgb(208, 213, 221);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.button--transparent::before {
  font-size: 1.25rem;
  font-weight: 600;
}
@media (any-hover: hover) {
  .button--transparent:hover {
    border: 0.0625rem solid rgb(0, 134, 201);
    color: rgb(0, 134, 201);
  }
}
.item-hero {
  color: rgb(2, 106, 162);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.item-hero__label {
  padding: 0.125rem 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.0625rem solid rgb(185, 230, 254);
  border-radius: 1rem;
  background: rgb(255, 255, 255);
}
.item-hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.4375rem;
}
.item-hero__text::before {
  color: rgb(11, 165, 236);
  font-size: 0.75rem;
}
@media (max-width: 37.5em) {
  .item-hero__text {
    color: #fff;
  }
}

.hero__item,
.hero__title,
.hero__text,
.hero__buttons-wrap,
.hero__link {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease, -webkit-transform 1s ease;
}

.hero__item.show,
.hero__title.show,
.hero__text.show,
.hero__buttons-wrap.show,
.hero__link.show {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}